.comic_div
{
    width: auto;
}

.brand-logo
{
    margin-left: 10px;
}
.comic_image
{
    display: inline;
}
.load-center
{
    margin-left: 50%;
}
body
{
    font-size: 25px;
}

.jump-field
{
    max-width: 50%;
}

.margin47
{
    z-index: 5;
    margin: 0;  margin-left: 40%;  padding: 2px;
}
